<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/libs/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
    <link href="~/libs/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/libs/jquery-ui/jquery-ui.min.css" rel="stylesheet" />

    @*------各个Action页使用的Css文件------*@
    @RenderSection("CustomerCss", false)
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/libs/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/libs/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script src="~/libs/jquery-validation/js/jquery.validate.min.js"></script>
    <script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/libs/toastr/toastr.min.js"></script>
    <script src="~/libs/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Areas/Mpa/Common/Scripts/LvCommonOperation.js"></script>
    <script src="~/Areas/Mpa/Common/Scripts/WinMsg.js"></script>
    @*------各个Action页使用的Js文件------*@
    @RenderSection("CustomerJs", false)
</body>
</html>